@import "reset.css";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.hide{
	display: none;
}

.show{
	display: block;
}

.admin_wrapper {
	display: flex;
	font-family: Roboto, Condensed;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0em;
	text-align: left;
}

.admin_menu__box {
	padding-top: 38px;
	padding-left: 33px;
	min-width: 215px;
	background-color: #cbedf5;
	height: 100vh;
}

.admin_menu {
	color: black;
}

.admin_menu ul { 
	margin-bottom: 20px;
}

.admin_menu ul {
	margin-left:10px; 
	margin-bottom: 20px;
}

.admin_menu__sub {
}

.admin_menu__sub-sub {
}

.admin_main {
}

.admin_main__button {
	margin-top: 35px;
	margin-left: 45px;
	font-family: Roboto, Condensed;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0em;
	text-align: left;
	color: #197287;
	padding: 8px 25px 12px;
	background-color: #D4F0F7;
}

.admin_main__table {
	margin: 110px 25px 22px 25px;
}

.admin_main__table-header {
	background-color: #cbedf5;
	display: flex;
	padding: 8px 0px;
	margin-bottom: 10px;
}

.table_header__element {
	padding: 0px 15px;
	border-right: 1px solid #197287;
}

.table_header__element:last-child{
	border-right:0px;
}

.admin_main__table-body {
	display: flex;
	background-color: #E5F6FA;
	padding: 15px 10px;
}

.body_row {
	border-radius:10px ;
	display: flex;
	
	padding: 8px 0px;
	margin-bottom: 8px;
	background-color: #cbedf5;
}

.body_row__element:last-child{
	border-right:0px;
	flex-grow: 2;
}

.body_row__element {
	padding: 15px;
	border-right: 1px solid #197287;
}

.header_content {
}
.header_content__search {
}
.header_content__menu {
	background-color:#FAFAFA;
	max-width: 80%;
}
.header_content__menu-title {
	padding-bottom: 45px;
}

.header_content__menu{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 24px;
	color:#000000;
	padding-left: 40px;
}

.header_content__menu button{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 24px;
	color:red;
}




.header_content__menu-item{
	padding-bottom: 35px;
}
.header_content__menu-button {
}
.markets {
}
.markets_show {
}
.market_name {
}
.markets_list {
}
.markets_list__item {
}